<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poster</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='bootstrap/css/bootstrap.css' )}}">
    
    
</head>
<body>

    {% include 'layouts/header.html' %}

    <main>{% block content %} {% endblock %}</main>

    {% include 'layouts/footer.html'%}


    <script src="{{ url_for ('static', filename='bootstrap/js/bootstrap.js' )}}"></script>  
    <script src="{{ url_for ('static', filename='js/jquery-3.7.0.js' )}}"></script>
    <script src="{{ url_for ('static', filename='js/script.js' )}}"></script>
    
     
</body>
</html> 